:root {
  --color-black: #000000;
  --color-dark-gray: #6b6b6b;
  --color-medium-gray: #9e9e9e;
  --color-red: #c41e3a;
  --color-white: #ffffff;
  --color-light-gray: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.caption {
  font-size: 12px;
  font-weight: 300;
}
